<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KhalosBoutique.DAL.BD.conexion" connectionString="Data Source=LAPTOP-NPNFVF1E\SQLEXPRESS01;Initial Catalog=KhalosBD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>